.freighterhaul {
    background-color: rgb(211, 208, 208);
    position: relative;
    border: 2px solid purple;
    width: 40%;
    height: 40%;
    float: right;

    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
